#header {
	width:1060px;
	height:80px;
	left:20px;
	font-family:Garamond, Verdana;
	position:relative;
    background-color:#eeece0;
    border-radius:15px;
}

#header a {
	text-align:center;
    text-decoration:none;
	color:#725d54;
}

#header-img-left {
	float:left;
	/*padding:10px 10px 10px 10px;*/
	padding: 11px;
}

#home {
	font-family:Garamond, Verdana, Sans-Serif;
    text-decoration:none;
}

#nav-container {
	position:relative;
	left:40px;
	width:1080px;
	/*height:30px;*/
	text-align:center;
	color:#aea985;
}

#summary-container {
	position:relative;
	width:1020px;
	top:30px;
	left:40px;
	background-color:#eeece0;
	border:5px solid #b58900;
	border-radius:10px;
}

#main-container {
	position:relative;
	width:1080px;
	top:45px;
	left:20px;
}

#left-container {
	position:absolute;
	width:500px;
	min-height:160px;
	background-color:#eeece0;
	border:5px solid #b58900;
	border-radius:10px;
	display: inline-block;
 	vertical-align: middle;
	top:20px; 
	left:20px;
}

#right-container {
	position:absolute;
	width:500px;
	min-height:160px;
	background-color:#eeece0;
	border:5px solid #b58900;
	border-radius:10px;
	top:20px; 
	left:540px;
}